.content{
    margin: auto;
    width: 50%;
    margin-top: 160px;
    font-family: "Lucida Console", Courier, monospace;
 
      
}

li {
    background: #3399ff;
    margin:5px 0px; 
    
}


#timer {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;


}